# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\aryan\Desktop\UIC Academics\UIC-CS\CS 342\FINALprojectsForGitHub\DecoratorHW_Sp2020\DecoratorHW_Sp2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
